<table class="table table-striped"> 
  <thead>
    <tr>  
      <th>Médico</th>  
      <th>Ações</th>
      <th></th> 
      <th></th> 
    </tr>
  </thead> 
  <tbody>
    <% medicos.each do |medico| %>
    <tr> 
      <td><%= medico %></td> 
      <td><%= link_to 'Show', medico %></td>
      <td><%= link_to 'Edit', edit_medico_path(medico) %></td>
      <td><%= link_to 'Destroy', medico, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr> 
    <% end %>
  </tbody>
</table>  