<h1>Médicos</h1> 
<div class="row">  
  <div class="col-md-8">     
    <%= render 'medicos/meus_medicos', medicos: @medicos%>  
  </div> 
  <div class="col-md-4" style="float:right;">  
    <%= render 'busca'%>  
  </div> 
</div>
