<table class="table table-striped"> 
  <thead>
    <tr>  
      <th>Médico</th> 
      <th>Data</th>
      <th>Status</th>
      <th>Ações</th> 
    </tr>
  </thead> 
  <tbody>
    <% consultas.each do |consultum| %>
    <tr> 
      <td><%= consultum.medico %></td>
      <td><%= consultum.data %></td>
      <td><%= consultum.status %></td> 
      <td><%= link_to 'Cancelar consulta', consultum, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr> 
    <% end %>
  </tbody>
</table>  