<table class="table table-striped"> 
  <thead>
    <tr>  
      <th>Médico</th> 
      <th>Especialidade</th> 
      <th>Data</th> 
      <th>Ações</th> 
    </tr>
  </thead> 
  <tbody> 
    <% consultas.each do |consultum| %>
    <tr> 
      <td><%= consultum.medico.nome %></td>
      <td><%= consultum.medico.especialidade %></td>
      <td><%= consultum.data %></td>   
      <td><%= link_to 'Cancelar consulta', consultum, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>  
    <% end %> 
  </tbody>
</table>  